body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.welcome-message h1{
    color: #FFC83E;
}
.container {
    background-color: #ffffff;
    height: 100vh;
    color: black;
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.status-bar {
    display: flex;
    align-items: center;
}

.status-bar-item {
    margin: 0 5px;
}
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Space between rows of icons */
}

.icon-placeholder {
    width: 60px; /* The width you want all icons to be */
    height: 60px; /* The height you want all icons to be */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* For rounded corners, if desired */
    background-color: #FFFFFF; /* If you want a background color */
}

.icon-placeholder img {
    max-width: auto;
    max-height: auto;
    object-fit: contain; /* This will prevent the images from stretching and will maintain the aspect ratio */
}

.icon-label {
    color: #5E3AA8; /* Replace with the color you want for the icon label text */
    font-size: 14px; /* Adjust as needed */
    margin-top: 8px; /* Spacing between the icon and label text */
}




.icons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}





.footer {
    margin-top: 20px;
}

.explore-btn {
    background-color: #5E3AA8;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
